<!DOCTYPE html>
<html lang = 'en'>
<head>
        {{>headerlinks}}
</head>
<body>
  {{>navbar}}
    <!--main header-->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/college.png" alt="Bhuvan" class="img-fluid" title="Web Tech Project">
                        </figure>
                    </div>

                   
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>A little about us</p>
                        <h1>We are students of <span class="text_clr"> JIIT 128</span> </h1>
                        <a href="http://www.jiit.ac.in/" target = "_college"><button>our college</button></a>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}

</body>
</html>